header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #E1F5FF;
    align-items: center;
    padding: 10px;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}
nav  a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: #48429A;
}
.header-separador {
    width: 100%;
    border: none;
    height: 1.5px;
    margin-top:2px;
    background-color: #48429A;
}
.nombre-empresa {
    color:  #48429A;
}